*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
  background: #fff;  
}

.wrapper .header{
    z-index: 1;
    background: #ff7403;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
}

.wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.wrapper .header .header-menu .title{
    color: #fff;
    font-size: 25px;
    text-transform: 900;
}

.wrapper .header .header-menu .title span{
    color: rgb(12, 12, 12);
}

.wrapper .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin: 240px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover{
    color: cornflowerblue;
}

.wrapper .header .header-menu ul{
    display: flex;
}

.wrapper .header .header-menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition:0.3s;
    transition-property: background, color;
}

.wrapper .header .header-menu ul li a:hover{
    background: cornflowerblue;
    color: #fff;
}

.wrapper .sidebar{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu{
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .Profile img{
   margin: 20px 0;
   width: 100px;
   height: 100px;
   border-radius: 50%; 
}

.wrapper .sidebar .sidebar-menu .Profile p{
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #fd4d27;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
   float: right;
   font-size: 12px;
   margin-top: 3px; 
}

.wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #ff7403;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid  #27f2fd;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #27f2fd;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu :i{
    padding-right: 20px;
    font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
}

.wrapper .main-container{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding: 15px;
    background: url(pic\ 1200\ by\ 860.jpg)no-repeat;
    background-size: cover;
    height: 180vh;
    transition: 0.3s;
}

.wrapper.collapse .sidebar{
    width: 70px;
}

.wrapper.collapse .sidebar .Profile img,
.wrapper.collapse .sidebar .Profile p,
.wrapper.collapse .sidebar a span{
    display: none;
}

.wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
    font-size: 25px;
}

.wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
}

.wrapper.collapse .main-container{
    width: (100%-70px);
    margin-left: 70px;
}

.wrapper .main-container .card{
    background: rgb(255, 253, 248);
    padding: 15px;
    font-size: 14px;
    margin-bottom: 8px;
}